body {
    background-color: crimson;
}
h1{
    color: white;
}
#first {
    display: block;
}
.naam {
    text-align: center;
}
#bhalokobi {
    background-color: white;
    border: 7px solid black;
    border-radius: 25px;
    margin: 150px;
    padding: 30px;

}
#bhalokobi p {
    text-align: justify;
}

#jatiokobi {
    background-color: white;
    border: 7px solid black;
    border-radius: 25px;
    margin: 150px;
    padding: 30px;
}
#jatiokobi p {
    text-align: justify;
}